{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<form action="#" method='POST'>
    <p>Mail</p>
    <input type="email" name="mail" placeholder="test" value="{{mail}}" required>
    <p>id discord</p>
    <input type="text" name="id" value="{{id_user}}" required>
    <p>Password</p>
    <input type="password" name="password" id="input_password" value="{{pwd}}" required>
    <input type="submit" value="Submit">
</form>
{% endblock %}
