{% extends "base.html" %}

{% block title %}MP ON !{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <!-- flashed messages -->
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method='POST'>
        <p>Mail</p>
        <input type="email" name="mail" required>
        <p>Password</p>
        <input type="password" name="password" id="input_password" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}